## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.tail()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME', Status, use_case
application_df= application_df.drop(columns= ["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value=528
application_types_to_replace = app_type_counts[app_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at NAME value counts for binning
name_types = application_df['NAME'].value_counts()
name_types

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [18]:
# You may find it helpful to look at name value counts >50
name_types_updated= name_types.loc[name_types > 50]
name_types_updated

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [21]:
# Choose a cutoff value and create a list of name to be replaced
# use the variable name `name_to_replace`
cutoff_value_name = 120
name_to_replace = name_types [name_types < cutoff_value_name].index.tolist()

# Replace in dataframe
for cls in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 26619
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
Name: NAME, dtype: int64

In [22]:
# Look at ASK_AMT value counts for binning
ask_amount_types = application_df['ASK_AMT'].value_counts()
ask_amount_types

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [23]:
# Choose a cutoff value and create a list of ask_amount to be replaced
# use the variable name `ask_amount_to_replace`
cutoff_value_ask_amount = 3
ask_amount_to_replace = ask_amount_types [ask_amount_types < cutoff_value_ask_amount].index.tolist()

# Replace in dataframe
for cls in ask_amount_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(cls,"ASK_AMT")

# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000       25398
ASK_AMT     8889
15583          3
6725           3
10478          3
63981          3
Name: ASK_AMT, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded= pd.get_dummies(application_df)
application_df_encoded.tail(20)

,STATUS,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_6725,ASK_AMT_10478,ASK_AMT_15583,ASK_AMT_63981,ASK_AMT_ASK_AMT
34279,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
34280,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
34281,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
34282,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34283,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34284,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
34285,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34286,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34287,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
34288,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34289,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
34290,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34291,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34292,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34293,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34294,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34295,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
34296,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34297,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
34298,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL'].values
X =application_df_encoded.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58, stratify=y)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=120, activation="sigmoid", input_dim=138))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="sigmoid"))

#THIRD hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid"))

#Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 120)               16680

 dense_16 (Dense)            (None, 100)               12100

 dense_17 (Dense)            (None, 80)                8080

 dense_18 (Dense)            (None, 50)                4050

 dense_19 (Dense)            (None, 1)                 51

=================================================================
Total params: 40961 (160.00 KB)
Trainable params: 40961 (160.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 4ms/step - loss: 0.5518 - accuracy: 0.7123
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5192 - accuracy: 0.7374
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5121 - accuracy: 0.7384
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5067 - accuracy: 0.7388
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5051 - accuracy: 0.7404
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5019 - accuracy: 0.7419
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4997 - accuracy: 0.7442
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4987 - accuracy: 0.7458
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4978 - accuracy: 0.7438
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4963 - accuracy: 0.7478
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4948 - accuracy: 0.7488
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4932 - accuracy: 0.7497
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4921 - accuracy: 0.7507
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4915 - accuracy: 0.7526
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4905 - accuracy: 0.7549
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4894 - accuracy: 0.7542
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4880 - accuracy: 0.7537
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 0.4887 - accuracy: 0.7550
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4872 - accuracy: 0.7549
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4866 - accuracy: 0.7570
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4860 - accuracy: 0.7571
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4849 - accuracy: 0.7580
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4857 - accuracy: 0.7596
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4845 - accuracy: 0.7596
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4848 - accuracy: 0.7574
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4830 - accuracy: 0.7586
Epoch 27/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4825 - accuracy: 0.7593
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4829 - accuracy: 0.7592
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4819 - accuracy: 0.7599
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4818 - accuracy: 0.7585
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4811 - accuracy: 0.7588
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4808 - accuracy: 0.7607
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4801 - accuracy: 0.7603
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4797 - accuracy: 0.7606
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4792 - accuracy: 0.7603
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4793 - accuracy: 0.7607
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4784 - accuracy: 0.7608
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4786 - accuracy: 0.7607
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4780 - accuracy: 0.7610
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4775 - accuracy: 0.7619
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4774 - accuracy: 0.7623
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4769 - accuracy: 0.7611
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4762 - accuracy: 0.7624
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4760 - accuracy: 0.7627
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4760 - accuracy: 0.7633
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4757 - accuracy: 0.7631
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4750 - accuracy: 0.7644
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4751 - accuracy: 0.7631
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4744 - accuracy: 0.7640
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4745 - accuracy: 0.7627

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4959 - accuracy: 0.7559 - 678ms/epoch - 3ms/step
Loss: 0.49590784311294556, Accuracy: 0.7559183835983276

In [42]:
# Export our model to HDF5 file
model_file_path = 'AlphabetSoupCharityOptimization.h5'
nn.save(model_file_path)